body{background-color: #dcdcdc;
text-align: left;
margin: 10px
;border: #bd9f9f solid 3px;
}


p{color: #1230b9;
    font-family: sans-serif, 'lucida sans';
font-size:large;
font-style: oblique;
text-align:justify ;
overflow: auto;}

p.main{text-align: left;
border: thistle dotted 3px;}

div{color: #008080;
font-size: medium;
font-weight: bold;
padding: 50px;
border: 3px solid yellow;}

em{color: red;
    justify-content: center;}

strong{color: rgb(153, 51, 73);}

a:hover{color: seagreen;
background-color: rgb(172, 181, 189);}

