body{background-color: #dcdcdc;
text-align: left;
margin: 10px
;border: #bd9f9f solid 3px;
}


p{color: #191970;
font-size:large;
text-align:justify ;}


div{color: #008080;
font-size: large;
font-weight: bold;
padding: 30px;}

